button {
  width: 25%;
  padding: 5% 10%;
  background-color: rgb(207, 207, 207);
  color: #1b1b1b;
  font-weight: 500;
  font-size: 8vw;
  border: 2px solid rgb(121, 121, 121);
}

.orange {
  background-color: rgb(243, 195, 106);
}
